{% extends 'layout.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <h1> Hi {{name}} </h1>
    <p>this item is cached </p>
    <strong>{{ baseurl }}</strong>
    <h1>{{ sitename }}</h1>
    <p>
        {{format_seconds(500)}}
    </p>
    {{name | base64_encode | base64_decode}}
{% endblock %}